<form style="display:inline !important" method="post" action="{{ path('app_confrere_delete', {'id': confrere.id}) }}" onsubmit="return confirm('Etes-vous sûr de vouloir supprimer ce confrère: {{ confrere.nom }} {{ confrere.prenom }}?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ confrere.id) }}">
    <button class="btn btn-danger" style="padding: 0px 2px !important"><i class="fas fa-trash-alt fa-sm text-white-10"></i></button>
</form>
