{% extends 'base.html.twig' %}

{% block title %}Edit Confrere{% endblock %}

{% block body %}
        <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Modifier le confère N°: {{ confrere.id }}</h1>
    </div>
       <!-- DataTales Example -->
                    <div class="card shadow mb-4">
                        {# <div class="card-header py-3">
                            <h6 class="m-0 font-weight-bold text-primary">DataTables Example</h6>
                        </div> #}
                        <div class="card-body">
    {{ include('confrere/_form.html.twig', {'button_label': 'Enregistrer'}) }}
</div>
</div>
{% endblock %}
