{% extends 'base.html.twig' %}

{% block title %}Edit ResultatAudience{% endblock %}
{% block body %}
	<!-- Page Heading -->
	<div class="d-sm-flex align-items-center justify-content-between mb-4">
		<h1 class="h3 mb-0 text-gray-800">Modifier le résultat N°:
			{{ resultat_audience.id }}</h1>
	</div>
	<!-- DataTales Example -->
	<div class="card shadow mb-4">
		<div class="card-body">

    {{ include('resultat_audience/_form.html.twig', {'button_label': 'Enregistrer'}) }}

        </div>
	</div>
{% endblock %}
