{% extends 'base.html.twig' %}

{% block title %}Modifer Collaborateur{% endblock %}

{% block body %}
     <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Modifier le colaborateur N°: {{ personnel.id }}</h1>
    </div>
       <!-- DataTales Example -->
                    <div class="card shadow mb-4">
                        {# <div class="card-header py-3">
                            <h6 class="m-0 font-weight-bold text-primary">DataTables Example</h6>
                        </div> #}
                        <div class="card-body">
    {{ include('personnel/_form.html.twig', {'button_label': 'Enregistrer'}) }}
    </div>
</div>
{% endblock %}

{% block javascripts %}

<script>
	addEventListener('load', (event) => {
        let loadImage = document.getElementById('load_image');
        let srcImage = loadImage.getAttribute('data-image');
        let champs = document.querySelector('.custom-file-label');
        //console.log(champs);
        champs.textContent = srcImage;

    });
    
    // afficher la valeur dans le champ input du fichier sélectionné
	$('.custom-file-input').on('change', function(event) {
		var inputFile = event.currentTarget;
		$(inputFile).parent()
			.find('.custom-file-label')
			.html(inputFile.files[0].name);
	});
    
</script>

{% endblock %}