<form style="display:inline !important"  method="post" action="{{ path('app_nature_delete', {'id': nature.id}) }}" onsubmit="return confirm('Etes-vous sûr de vouloir supprimer cette nature: {{ nature.titre }}?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ nature.id) }}">
    <button class="btn btn-danger" style="padding: 0px 2px !important"><i class="fas fa-trash-alt fa-sm text-white-10"></i></button>
</form>
