<form method="post" action="{{ path('app_contentieux_delete', {'id': contentieux.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ contentieux.id) }}">
    <button class="btn">Delete</button>
</form>
