{% extends 'base.html.twig' %}

{% block title %}New Contentieux
{% endblock %}

{% block body %}
	<!-- Page Heading -->
	<div class="d-sm-flex align-items-center justify-content-between mb-4">
		<h1 class="h3 mb-0 text-gray-800">Nouveau Contentieux</h1>
	</div>
	<!-- DataTales Example -->
	<div class="card shadow mb-4">
		<div class="card-body">
			<div class="container">
				<div class="row">
					<div class="col">
						{{ include('contentieux/_form.html.twig') }}
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
{% block javascripts %}
	<script>
		// Déclaration des variables
let formJuridiction = document.querySelector('formJuridiction');
let envoyerJuridiction = document.getElementById('envoyer_juridiction');
let resultats = document.getElementById('resultats');
const url = formJuridiction.action;

// les évènements
envoyerJuridiction.addEventListener('click', function (event) {
event.preventDefault();

// Récupère les données du formulaire
let saisie = new FormData(formJuridiction);
// Lance la recherche
fetch(url, {
method: 'POST',
body: saisie
}).then((response) => {
console.log(response);
}).then((data) => { // Affiche les résultats


}).catch((error) => {
console.log('Erreur : ' + error.message);
});
});
	</script>
	<script>
		$(document).ready(function () {
$('[data-bs-toggle="tooltip"]').tooltip();
});
	</script>
{% endblock %}
