{% extends 'base.html.twig' %}

{% block title %}Nouveau Contentieux
{% endblock %}


{% block stylesheets %}
	<style>
		#overlay {
			position: fixed;
			top: 0;
			z-index: 100;
			width: 100%;
			height: 100%;
			display: none;
			background: rgba(0, 0, 0, 0.6);
		}
		.cv-spinner {
			height: 100%;
			display: flex;
			justify-content: center;
			align-items: center;
		}
		.spinner {
			width: 40px;
			height: 40px;
			border: 4px #ddd solid;
			border-top: 4px #2e93e6 solid;
			border-radius: 50%;
			animation: sp-anime 0.8s infinite linear;
		}
		@keyframes sp-anime {
			100% {
				transform: rotate(360deg);
			}
		}
		.is-hide {
			display: none;
		}
	</style>

{% endblock %}

{% block body %}
	<!-- Page Heading -->
	<div class="d-sm-flex align-items-center justify-content-between mb-4">
		<h1 class="h3 mb-0 text-gray-800">Nouveau Contentieux</h1>
	</div>
	<!-- DataTales Example -->
	<div class="card shadow mb-4">
		<div class="card-body">
			<div class="container">
				<div class="row">
					<div class="col">
						{{ include('contentieux/_form.html.twig') }}
					</div>
				</div>
			</div>
		</div>
	</div>
	<div id="overlay">
		<div class="cv-spinner">
			<span class="spinner"></span>
		</div>
	</div>
{% endblock %}
{% block javascripts %}
	<script>

		function AjoutJuridiction() { // Déclaration des variables
let formJuridiction = document.querySelector('form#formJuridiction');
let envoyerJuridiction = document.getElementById('envoyer_juridiction');

// les évènements
envoyerJuridiction.addEventListener('click', function (event) {
// event.preventDefault();
// Récupère les données du formulaire
let saisie = new FormData(formJuridiction);
// Lance la recherche
fetch("{{ url('app_juridiction_modal') }}", {
method: 'POST',
body: saisie
}).then(response => response.json()).then((data) => { // Affiche les résultats
let juridictions = document.getElementById('contentieux_juridiction');

const opt = document.createElement('option');
opt.value = data.juridiction.id;
opt.innerHTML = data.juridiction.titre + ' - ' + data.juridiction.lieu;
juridictions.appendChild(opt);
// juridictions.innerText('<option value=1>My option</option>');

document.getElementById('juridiction_titre').value = "";
document.getElementById('juridiction_lieu').value = "";
document.getElementById('juridiction_commentaire').value = "";

}).catch((error) => {
console.log('Erreur : ' + error.message);
});
});
}

// NATURE
function AjoutNature() { // Déclaration des variables
let formNature = document.querySelector('form#formNature');
let envoyerNature = document.getElementById('envoyer_nature');

// les évènements
envoyerNature.addEventListener('click', function (event) {
// event.preventDefault();
// Récupère les données du formulaire
let saisie = new FormData(formNature);
// Lance la recherche
fetch("{{ url('app_nature_modal') }}", {
method: 'POST',
body: saisie
}).then(response => response.json()).then((data) => { // Affiche les résultats
let natures = document.getElementById('contentieux_nature');

const opt = document.createElement('option');
opt.value = data.nature.id;
opt.innerHTML = data.nature.titre;
natures.appendChild(opt);

// VIDER LES CHAMPS
document.getElementById('juridiction_titre').value = "";
document.getElementById('juridiction_commentaire').value = "";

}).catch((error) => {
console.log('Erreur : ' + error.message);
});
});
}

/************activation************/
AjoutJuridiction();
AjoutNature();
	</script>
	<script>
		$(document).ready(function () {
$('[data-bs-toggle="tooltip"]').tooltip();
});
	</script>
{% endblock %}
