{% extends 'base.html.twig' %}

{% block title %}Edit TypePerso
{% endblock %}

{% block body %}
	<h1>Edit TypePerso</h1>

	{{ include('type_perso/_form.html.twig', {'button_label': 'Update'}) }}

	<a href="{{ path('app_typeperso_index') }}">back to list</a>

	{{ include('type_perso/_delete_form.html.twig') }}
{% endblock %}
