{% extends 'base.html.twig' %}

{% block title %}Nouvelle Qualité Adversaire
{% endblock %}

{% block body %}
	<!-- Page Heading -->
	<div class="d-sm-flex align-items-center justify-content-between mb-4">
		<h1 class="h3 mb-0 text-gray-800">Nouvelle Qualité Adversaire</h1>
	</div>
	<!-- DataTales Example -->
	<div
		class="card shadow mb-4">
		{# <div class="card-header py-3">
								                            <h6 class="m-0 font-weight-bold text-primary">DataTables Example</h6>
								                        </div> #}
		<div class="card-body">


			{{ include('qualite_ad/_form.html.twig') }}

		</div>
	</div>

{% endblock %}

{% block javascripts %}

	<script>
		// afficher la valeur dans le champ input du fichier sélectionné
$('.custom-file-input').on('change', function (event) {
var inputFile = event.currentTarget;
$(inputFile).parent().find('.custom-file-label').html(inputFile.files[0].name);
});
	</script>

{% endblock %}
