{% extends 'base.html.twig' %}

{% block title %}Nouvelle Audience
{% endblock %}

{% block body %}
	<!-- Page Heading -->
	<div class="d-sm-flex align-items-center justify-content-between mb-4">
		<h1 class="h3 mb-0 text-gray-800">Nouvelle audience</h1>
	</div>
	<!-- DataTales Example -->
	<div class="card shadow mb-4">
		<div class="card-body">
			{{ include('audience/_form.html.twig') }}

		</div>
	</div>
{% endblock %}

{% block javascripts %}

	{# 
			<script>
				let contentieux = document.getElementById('audience_contentieux');
		
		contentieux.addEventListener('change', function () {
		let idContentieux = contentieux.value;
		let url = "http://localhost:8000/contentieux/" + idContentieux;
		console.log(url);
		fetch(url, {
		mode: 'no-cors',
		method: 'GET',
		headers: {
		'Content-Type': 'application/x-www-form-urlencoded'
		}
		}).then(function (response) {
		
		if (response.ok) {
		response.text().then(function (data) {
		console.log(data);
		});
		} else {
		console.log('Mauvaise réponse du réseau');
		}
		}).catch(function (error) {
		console.log('Il y a eu un problème avec l\'opération fetch: ' + error.message);
		});
		
		});
			</script> #}
{% endblock %}
