<form style="display:inline !important" method="post" action="{{ path('app_qualite_delete', {'id': qualite.id}) }}" onsubmit="return confirm('Etes-vous sûr de vouloir supprimer {{ qualite.titre }}?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ qualite.id) }}">
    <button class="btn btn-danger" style="padding: 0px 2px !important"><i class="fas fa-trash-alt fa-sm text-white-10"></i></button>
</form>
