{% extends 'base.html.twig' %}

{% block title %}New Qualite{% endblock %}

{% block body %}
    <h1>Create new Qualite</h1>

    {{ include('qualite/_form.html.twig') }}

    <a href="{{ path('app_qualite_index') }}">back to list</a>
{% endblock %}
